

html {
    margin: 0px;
    padding: 0px;
}

body {
    display: block;
    justify-content: space-between;
    height: 100%;
    min-height: 20vh;
    max-height: none;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    line-height: 1.34;
    unicode-bidi: embed;
    direction: ltr;
}

body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

    body[Attributes Style] {
        direction: ltr;
        unicode-bidi: isolate;
    }

.container-fluid {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a:link {
    color: #E2F1F2;
}


a:visited {
    color: #E2F1F2;
}


a:hover {
    color: #E2F1F2;
}


a:active {
    color: #E2F1F2;
}

a {
    color: #E2F1F2;
}

p {
    margin: 0 auto;
}
/* header */

.pasekGorny {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 100px;
    max-width: none;
    height: 100%;
    min-height: 100px;
    max-height: 300px;
    overflow: visible;
    position: relative;
    background: #1F2434;
    border-bottom: 8px solid #7D8193;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex: auto;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: visible;
    text-align: left;
    font-weight: bold;
    float: left;
    line-height: 1.5em;
}

    .logo a {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        color: #D7DDE0;
        display: block;
        padding: 20px;
        outline: none;
        clear: both;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4em;
        font-family: arial, tahoma sans-serif;
        text-align: left;
    }

.bolder {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.tabela {
    flex-direction: row-reverse;
}

.logowanie {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    overflow: visible;
    text-align: right;
    float: right;
    flex-direction: row-reverse;
    flex: auto;
}

.tabelaLogowania {
    margin: 5px;
}

.opcjeLogowania {
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    justify-content: space-between;
    vertical-align: top;
    margin: 0 auto;
}

.przyciskiLogowania {
    margin: 5px;
    display: block;
    position: relative;
    justify-content: space-between;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background: #6c757d;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #6c757d;
}

    .przyciskiLogowania p {
        display: block;
        position: relative;
        justify-content: space-between;
        vertical-align: center;
        width: 100%;
        font-size: 18px;
        color: #E2F1F2;
        text-align: center;
        text-decoration: none;
        outline: none;
    }

    .przyciskiLogowania a {
        display: block;
        position: relative;
        justify-content: space-between;
        vertical-align: center;
        width: 100%;
        font-size: 18px;
        color: #E2F1F2;
        text-align: center;
        text-decoration: none;
        outline: none;
    }

.usunMarginesy {
    min-height: none;
    max-height: none;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* główna treść strony */

.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 76.9vh;
    width: auto;
}

#flexbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menuBoczne {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 15px;
    width: 100%;
    min-width: 110px;
    max-width: 400px;
    overflow: auto;
    background: #D3D5D6;
    border-right: 8px solid #7D8193;
}

.bolderPrzyciskMenu {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

.przyciskMenu {
    margin: 5px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 25px;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    background: #6c757d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #D3D5D6;
}

    .przyciskMenu p {
        display: block;
        position: relative;
        justify-content: space-between;
        vertical-align: top;
        width: 100%;
        font-size: 25px;
        color: #E2F1F2;
        text-align: center;
        text-decoration: none;
        outline: none;
    }

.przyciskiWMenu {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 20px;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    background: #6c757d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #D3D5D6;
}

    .przyciskiWMenu p {
        display: block;
        position: relative;
        justify-content: space-between;
        vertical-align: top;
        width: 100%;
        font-size: 20px;
        color: #E2F1F2;
        text-align: center;
        text-decoration: none;
        outline: none;
    }

.informacjeGlowne {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    background: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 100px;
    max-width: none;
    overflow: auto;
}

.textGlowny {
    display: flex;
    justify-content: space-between;
}

    .textGlowny h1 {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        color: #2A3138;
        font-size: 2em;
        font-family: arial, tahoma sans-serif;
        text-align: left;
    }

/* footer */

.stopka {
    display: flex;
    justify-content: center;
    height: 10vh;
    background: #7D8193;
}

    .stopka p {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        color: #D7DDE0;
        font-size: 1em;
        font-family: arial, tahoma sans-serif;
        text-align: left;
    }

/* Login */

.Register-Card {
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 20%;
    max-height: 100%;
    margin-right: 5%;
    margin-left: 20%;
    padding: 0px;
}

.marginesy {
    margin-right: auto;
    margin-left: 0px;
    padding: 0px;
}

.Register-Card-Header {
    background-color: #7D8193;
    color: #E2F1F2;
    overflow: auto;
}

.Register-Card-Body {
    background-color: #E4E4E4;
    overflow: auto;
}

.przyciskiFormularzy {
    margin-bottom: 0 auto;
    padding: 1px 2px 1px 2px;
    justify-content: space-between;
    max-width: 500px;
    min-width: 1px;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    background-color: #7D8193;
    color: #E4E4E4;
}

    .przyciskiFormularzy p {
        color: #E4E4E4;
        text-align: center;
    }

    .przyciskiFormularzy a {
        color: #E4E4E4;
        text-align: center;
    }

.poleFormularza {
    margin: 10px;
    padding: 2px;
}

.tekstNaSrodku {
    text-align: center;
}

    .tekstNaSrodku p, h5 {
        text-align: center;
    }

.tloTabelkiWarsztatu {
    background-color: #E4E4E4;
}

.przyciskiUslug {
    margin-bottom: 0 auto;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1px 2px 1px 2px;
    justify-content: space-between;
    max-width: 500px;
    min-width: 1px;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    background-color: #7D8193;
    color: #E4E4E4;
}

    .przyciskiUslug p {
        color: #E4E4E4;
        text-align: center;
    }

    .przyciskiUslug a {
        color: #E4E4E4;
        text-align: center;
    }

.okienkoFormularza {
    margin-bottom: 0 auto;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1px 2px 1px 2px;
    justify-content: space-between;
    max-width: 500px;
    min-width: 1px;
    overflow: auto;
    text-align: center;
    text-decoration: none;
}

.tekstPrzycisku {
}

    .tekstPrzycisku p, a, h1, h2, h3, h4, h5 {
        color: #E4E4E4;
    }

.odstepy {
    margin: 10px;
}

.odstepyListaRozwijana {
    padding: 5px;
}

.paddingNaZero {
    padding: 5px;
}

.padding {
    padding: 20px;
}

.wiekszeLitery {
    font-size: 13px;
}

.marginesLewy {
    margin-left: 4%;
}

.duzeMarginesy {
    text-align: center;
    margin-left: 10% auto;
    margin-right: 10% auto;
}

.respansywnyButton {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    font-size: small;
}
