
<form action="@Url.Action(" FirstMessege","Customer")" method="post">
    <label>Napisz wiadomosc</label>
    <input type="text" name="messegeBody" />
    <button type="submit" name="ownerId" value="@ViewBag.Onwer_Id"> Wyslij wiadomosc</button>

</form>
